# Workspace
.vscode
.cache
node_modules
package-lock.json
playground/

# C++ Core
build
test.[cm]js
*.test.[cm]js
.clangd
.clang-format
compile_commands.json

# Firmware
.pio

# Electron APP
.dist

# Temporary files
*.tmp
*.txt
.DS_Store
